extends layout

block content
  .about-page
    h1 About Zenith World
    section.company-history
      h2 Our History
      p Zenith World was established in 1995 by Elaine Davidson and George Wendell, two visionary entrepreneurs with a passion for redefining the luxury industry. Starting from a humble storefront in Milan, the brand quickly garnered attention for its impeccable craftsmanship and unique design sensibilities.
      p In the late 1990s, Zenith World ventured into the world of fashion, teaming up with notable designers and setting the stage for global recognition. By the turn of the century, Zenith World had flagship stores in Paris, London, and New York, symbolizing its rapidly growing global footprint.         p 2005 marked a monumental year for the brand as it ventured into the world of horology, launching its first-ever line of luxury timepieces. The watches, much like their clothing line, became synonymous with precision, luxury, and timeless elegance.
      p Over the years, Zenith World has diversified its portfolio, adding fragrances, footwear, and even tech accessories. Collaboration has been at the heart of Zenith World's strategy, partnering with esteemed global brands, artists, and influencers to create limited edition collections.
      p Today, Zenith World stands as a testament to innovation, resilience, and unparalleled luxury. With a commitment to sustainability and ethical practices, the brand is paving the way for a brighter, more conscious future in the luxury segment.
    </br>
    </br>
    section.mission-values
      h2 Our Mission & Values
      p At Zenith World, we prioritize customer satisfaction above all. Our mission is to provide a seamless online shopping experience, ensuring quality at every step. At Zenith World, we strive to redefine luxury by creating unparalleled products that stand the test of time. Through our commitment to craftsmanship, sustainability, and innovation, we aim to deliver exceptional experiences that resonate with our global clientele and set new benchmarks in the luxury industry.
      p Integrity: Upholding honesty in all our business dealings.
      p Quality: Ensuring that every product meets our high standards.
      p Innovation: Continuously enhancing our platform to better serve our customers.
    </br>  
    </br>
    section.our-team
      h2 Our Team
      div.team-members
        div.member
          img(src='/images/team/john.jpg', alt="Member 1")
          h3 John Doe
          p CEO & Founder
        div.member
          img(src='/images/team/jenny.jpg', alt="Member 3")
          h3 Jenny Morris
          p Designer
        div.member
          img(src='/images/team/jane.jpg', alt="Member 2")
          h3 Jane Smith
          p Chief Product Officer
      </br>
      </br>
     section.contact-us
      h2 Get in Touch
      p If you have any questions, feedback, or just want to say hello, we'd love to hear from you.
      p +91 90345 90345&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;zenithworld@gmail.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@zenith_world 
