extends layout

block prepend head
  link(rel='stylesheet', href='/styles/kids.css')

block content
  section.kids-header
    h1 Kids' Collection
    p Discover fun and exciting products for the little ones.
  
  section.kids-products
    ul.product-grid
      li.product-item
        img(src='/images/products/kidscombo.jpg', alt='Product 1 for Kids')
        h3 Kids Combo Set
        p Price: $40.99
      li.product-item
        img(src='/images/products/robo.jpg', alt='Product 2 for Kids')
        h3 Toy Robot
        p Price: $12.99
      li.product-item
        img(src='/images/products/barbie.jpg', alt='Product 3 for Kids')
        h3 Barbie Doll
        p Price: $9.99
      li.product-item
        img(src='/images/products/teddy bear.jpg', alt='Product 4 for Kids')
        h3 Teddy Bear
        p Price: $17.99
      li.product-item
        img(src='/images/products/boy dress.jpg', alt='Product 5 for Kids')
        h3 Boy's Dress
        p Price: $24.99
      li.product-item
        img(src='/images/products/frock for girl.jpg', alt='Product 6 for Kids')
        h3 Girl's Frock
        p Price: $32.99
      li.product-item
        img(src='/images/products/girls watch.jpg', alt='Product 7 for Kids')
        h3 Girl's Watch
        p Price: $15.99
      li.product-item
        img(src='/images/products/painting set.jpg', alt='Product 8 for Kids')
        h3 Painting Set
        p Price: $40.99
      li.product-item
        img(src='/images/products/boy watch.jpg', alt='Product 9 for Kids')
        h3 Boy's Watch
        p Price: $18.99

  section.shop-more
    p Want to explore more? Check out our other collections.
    nav.other-collections
      a(href='/mens') Men's Collection&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/womens') Women's Collection
