extends layout

block prepend head
  link(rel='stylesheet', href='/styles/womens.css')

block content
  section.womens-header
    h1 Women's Collection
    p Dive into our exclusive range of women's products.
  
  section.womens-products
    ul.product-grid
      li.product-item
        img(src='/images/products/elegant.jpg', alt='Product 1 for Women')
        h3 Elegant Dress
        p Price: $79.99
      li.product-item
        img(src='/images/products/bag.jpg', alt='Product 2 for Women')
        h3 Stylish Handbag
        p Price: $39.99
      li.product-item
        img(src='/images/products/watch.jpg', alt='Product 3 for Women')
        h3 Watch
        p Price: $29.99
      li.product-item
        img(src='/images/products/saree.jpg', alt='Product 4 for Women')
        h3 Saree
        p Price: $55.99
      li.product-item
        img(src='/images/products/womens earrings.jpg', alt='Product 5 for Women')
        h3 Earrings
        p Price: $9.99
      li.product-item
        img(src='/images/products/womens formals.jpg', alt='Product 6 for Women')
        h3 Women's Formals
        p Price: $60.99
      li.product-item
        img(src='/images/products/womens formal shoe.jpg', alt='Product 7 for Women')
        h3 Women's Formal Shoe
        p Price: $40.99
      li.product-item
        img(src='/images/products/womens kurti.jpg', alt='Product 8 for Women')
        h3 Women's Kurti
        p Price: $24.99
      li.product-item
        img(src='/images/products/womens footwear.jpg', alt='Product 9 for Women')
        h3 Women's Footwear
        p Price: $26.99
  section.shop-more
    p Intrigued by our collection? Explore more from our catalog.
    nav.other-collections
      a(href='/mens') Men's Collection&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      a(href='/kids') Kids' Collection
